@page "/monthlyrecords"

<div id="monthlyrecords-main">
    <MonthPicker></MonthPicker>
    <div style="display: grid; grid-template-columns: auto 1fr;">
        <WorkoutDisplay></WorkoutDisplay>
    </div>
</div>




@code {

}
