@page "/greenjersey"
@using Zwift_Challenge.Data
@inject ZwiftChallengeService _zwiftChallengeService

<h2>Green Jersey</h2>

<div>

    <img src="Images/GreenJersey.jpg" width="200px;" />
</div>

@code {
   
}


