@page "/maillotjaune"
@using Zwift_Challenge.Data
@inject ZwiftChallengeService _zwiftChallengeService


<h2> Miallot Jeaune</h2>
<div>


    <img src="Images/YellowJersey.jpg" width="2000px;" />
</div>

@code {

}