@page "/polkadotjersey"
@using Zwift_Challenge.Data
@inject ZwiftChallengeService _zwiftChallengeService


<h2>Polka Dot Jersey</h2>


<div>

    <img src="Images/PolkaDotJersey.webp" width="150px;" />
</div>

@code {
   
}



