@page "/whitejersey"
@using Zwift_Challenge.Data
@inject ZwiftChallengeService _zwiftChallengeService


<div class="btn-primary">

    
    <img src="Images/frontofhouse.png" width="150px;" />
</div>



@code {
    
    }




