@page "/whitejersey"
@using Zwift_Challenge.Data
@inject ZwiftChallengeService _zwiftChallengeService


<div class="btn-primary">

    This is where the white jersey will be
    ``/wwwroot/Images/PaytonsImage.png

</div>



@code {
    
    }




