@page "/whitejersey"
@using Zwift_Challenge.Data
@inject ZwiftChallengeService _zwiftChallengeService

<div style="width: 400px; height: 600px; background: orange; border: 2px solid black;" >


    <div> This is the white jersy</div>
    <ZwiftButton></ZwiftButton>


</div>


@code {
    
    }




