@page "/whitejersey"
@using Zwift_Challenge.Data
@inject ZwiftChallengeService _zwiftChallengeService

<h2>White Jersey</h2>


<div>

    
    <img src="Images/Whitejersey.png" width="700px;" />
</div>



@code {
    
    }




