@page "/monthlywinners"
@using Zwift_Challenge.Data
@inject ZwiftChallengeService _zwiftChallengeService

<div>The Winner is:@winner</div>
<WhiteJersey></WhiteJersey>

@code {
    private string winner;
    protected override async Task OnInitializedAsync()
    {
        winner = await _zwiftChallengeService.GetWinner();
    }
}


