@using Data


<div style="border: 3px red double;">
    <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <div style="background: lightgrey;">Contest Title</div>
        <div style="font-weight: bold;">@Winner.Title</div>
    </div>
    <div>Month: @Winner.Month</div>
    <div>Rider: @Winner.Rider</div>

    @if (Winner.Jersey == "White")
    {
        <WhiteJersey></WhiteJersey>
    }
    @if (Winner.Jersey == "Polka Dot")
    {
        <PolkaDotJersey></PolkaDotJersey>
    }
    @if (Winner.Jersey == "Green")
    {
        <GreenJersey></GreenJersey>
    }
    @if (Winner.Jersey == "Maillot Jaune")
    {
        <MaillotJaune></MaillotJaune>
    }

</div>




@code {
    [Parameter]
    public ContestWinner Winner { get; set; }
}
